{% extends 'base.html' %}
{% block title %}
<h1 class="mt-4 mb-4 text-center">
    Result Page
</h1>
{% endblock %}

{% block main %}
<div class="container mt-4">
    <h2 class="mb-4">Enter input values:</h2>

    <form action="/predict" method="post" class="row g-3">

        <div class="col-md-6">
            <label class="form-label">Ride Distance</label>
            <input type="number" step="any" name="feature1" class="form-control" required>
        </div>

        <div class="col-md-6">
            <label class="form-label">Speed</label>
            <input type="number" step="any" name="feature2" class="form-control" required>
        </div>

        <div class="col-md-6">
            <label class="form-label">Temperature</label>
            <input type="number" step="any" name="feature3" class="form-control" required>
        </div>

        <div class="col-md-6">
            <label class="form-label">Weight</label>
            <input type="number" step="any" name="feature4" class="form-control" required>
        </div>

        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary w-100">Predict</button>
        </div>

    </form>
</div>
{% endblock %}



